# Data preprocessing
In this jupyter notebook, the following would be done:
1. Load the dataset
2. Get the dataset info, and see if there are any empty cells
3. Encode any categorical features into numbers

In [1]:
import pandas as pd
import os
import copy

### Load the dataset

In [2]:
#Get the data path
data_path = os.path.join(os.getcwd(), os.pardir, "data", "credit_card_transactions.csv")

#Lets check that the path is working
print(os.path.exists(data_path))

True

In [3]:
#Obtain the dataset
df_data = pd.read_csv(data_path)

In [4]:
print(df_data.columns)

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud', 'merch_zipcode'],
      dtype='object')

### Preprocessing_1: Lets set index properly
The "Unnamed:0" column refers to the index per row when the data was collected. Lets drop that one

In [5]:
#Play this cell to obtain the new 
df_preprocessed_1 = df_data.drop("Unnamed: 0", axis=1)

#Lets see the columns now.
print(df_preprocessed_1.columns)

Index(['trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt',
       'first', 'last', 'gender', 'street', 'city', 'state', 'zip', 'lat',
       'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time', 'merch_lat',
       'merch_long', 'is_fraud', 'merch_zipcode'],
      dtype='object')

### Lets see the info of each of the features.

In [6]:
df_preprocessed_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1296675 non-null  object
 1   cc_num                 1296675 non-null  int64
 2   merchant               1296675 non-null  object
 3   category               1296675 non-null  object
 4   amt                    1296675 non-null  float64
 5   first                  1296675 non-null  object
 6   last                   1296675 non-null  object
 7   gender                 1296675 non-null  object
 8   street                 1296675 non-null  object
 9   city                   1296675 non-null  object
 10  state                  1296675 non-null  object
 11  zip                    1296675 non-null  int64
 12  lat                    1296675 non-null  float64
 13  long                   1296675 non-null  float64
 14  city_pop               1296675 non-null  int64
 15  job                    1296675 non-null  object
 16  dob                    1296675 non-null  object
 17  trans_num              1296675 non-null  object
 18  unix_time              1296675 non-null  int64
 19  merch_lat              1296675 non-null  float64
 20  merch_long             1296675 non-null  float64
 21  is_fraud               1296675 non-null  int64
 22  merch_zipcode          1100702 non-null  float64
dtypes: float64(6), int64(5), object(12)
memory usage: 227.5+ MB

### Lets check for any null missing values
Before we even attempt to perform any preprocessing of the features; we first must check for null values in the data.

In [7]:
df_preprocessed_1.isnull().any()

trans_date_trans_time    False
cc_num                   False
merchant                 False
category                 False
amt                      False
first                    False
last                     False
gender                   False
street                   False
city                     False
state                    False
zip                      False
lat                      False
long                     False
city_pop                 False
job                      False
dob                      False
trans_num                False
unix_time                False
merch_lat                False
merch_long               False
is_fraud                 False
merch_zipcode             True
dtype: bool

In [8]:
for col in df_preprocessed_1.columns:
    if df_preprocessed_1[col].isnull().any():
        print(f"{col}: has missing values")

merch_zipcode: has missing values

In [9]:
print(df_preprocessed_1["merch_zipcode"].median())
print(df_preprocessed_1["merch_zipcode"].head(5))

45860.0
0    28705.0
1        NaN
2    83236.0
3        NaN
4    22844.0
Name: merch_zipcode, dtype: float64

### Zip code has missing, lets fill with median
Since zip code has missing nan values, lets actually fill them now with median

In [10]:
df_preprocessed_1["merch_zipcode"] = df_preprocessed_1['merch_zipcode'].fillna(df_preprocessed_1['merch_zipcode'].median())

In [11]:
df_preprocessed_1.isnull().any()

trans_date_trans_time    False
cc_num                   False
merchant                 False
category                 False
amt                      False
first                    False
last                     False
gender                   False
street                   False
city                     False
state                    False
zip                      False
lat                      False
long                     False
city_pop                 False
job                      False
dob                      False
trans_num                False
unix_time                False
merch_lat                False
merch_long               False
is_fraud                 False
merch_zipcode            False
dtype: bool

We know that the transaction date is pretty unique for every single row of data. However, the rest of the object features do have unique values that can be found which can be discretized properly using a labelling approach. lets do the following then
1. Lets look at init values of each to see what type of variables we have.

In [12]:
# Lest select the dataframe with only object
df_object = df_preprocessed_1.select_dtypes(exclude=["float", "int"])

# Lets loop and print just a few to see examples
for c in df_object.columns:
    print(f"{c}: {df_preprocessed_1[c].unique().shape}")

trans_date_trans_time: (1274791,)
merchant: (693,)
category: (14,)
first: (352,)
last: (481,)
gender: (2,)
street: (983,)
city: (894,)
state: (51,)
job: (494,)
dob: (968,)
trans_num: (1296675,)

### Another unique identifier! transaction number.

It seems this has too much unique values. We need data that gives us patterns wether is fraud or not. Lets check what kind of data this column and weather it stores any information.

In [13]:
df_preprocessed_1["trans_num"].head(4)

0    0b242abb623afc578575680df30655b9
1    1f76529f8574734946361c461b024d99
2    a1a22d70485983eac12b5b88dad1cf95
3    6b849c168bdad6f867558c3793159a81
Name: trans_num, dtype: object

### Drop column
This is a specific ID of the transaction. Inherently; this is doesnt contain information regarding the transaction information. <br>

This is a problem since ML models rely on these features; this is why we dropped "unnamed:0" before. Therefore, we would drop this column too.

In [14]:
#Play this cell to obtain the new 
df_preprocessed_1 = df_preprocessed_1.drop("trans_num", axis=1)

In [15]:
# Lest select the dataframe with only object
df_object = df_preprocessed_1.select_dtypes(exclude=["float", "int"])

# Lets loop and print just a few to see examples
for c in df_object.columns:
    print(f"{c}: {df_preprocessed_1[c].unique().shape}")

trans_date_trans_time: (1274791,)
merchant: (693,)
category: (14,)
first: (352,)
last: (481,)
gender: (2,)
street: (983,)
city: (894,)
state: (51,)
job: (494,)
dob: (968,)

### Lets list each of the variables.
The features we are seeing that are not numerical (considered objects); are the following:
1. trans_date_time -> datetime value
2. merchant -> categorical feature (693 unique values)
3. category -> categorical feature (14 unique values)
4. first -> categorical feature (352 unique values)
5. last -> categorical feature (481 unique values)
6. Gender -> Binary data
7. Street -> Categorical features (983 unique values)
8. City -> Categorical features (894 unique values)
9. State -> Categorical features (51 unique values)
10. job -> Categorical features (494 unique values)
11. dob -> datetime value (date of birth)

### Preprocessing_2: Lets process first the datetime variables!

These are trans_date_time and dob. We are gonna do the following:
1. Convert them into datetime types
2. Obtain the relevant information (year, month, day, minute, seconds) for trans_date_time
3. Obtain the relevant information (year, month, day) for the date of birth.

We will perform all of the pre-processing in our df_preprocessed

In [16]:
#Lets now do df_preprocessed_2
df_preprocessed_2 = copy.copy(df_preprocessed_1)

#Lets convert each of these into datetime
df_preprocessed_2["trans_date_trans_time"] = pd.to_datetime(df_preprocessed_2["trans_date_trans_time"])
df_preprocessed_2["dob"] = pd.to_datetime(df_preprocessed_2["dob"])

In [17]:
print(df_preprocessed_2["trans_date_trans_time"].head(4))

0   2019-01-01 00:00:18
1   2019-01-01 00:00:44
2   2019-01-01 00:00:51
3   2019-01-01 00:01:16
Name: trans_date_trans_time, dtype: datetime64[ns]

In [18]:
print(df_preprocessed_2["dob"].head(4))

0   1988-03-09
1   1978-06-21
2   1962-01-19
3   1967-01-12
Name: dob, dtype: datetime64[ns]

In [19]:
#Lets obtain the relevant information for the transaction datetime
df_preprocessed_2["transaction_year"] = df_preprocessed_2["trans_date_trans_time"].dt.year
df_preprocessed_2["transaction_month"] = df_preprocessed_2["trans_date_trans_time"].dt.month
df_preprocessed_2["transaction_day"] = df_preprocessed_2["trans_date_trans_time"].dt.day
df_preprocessed_2["transaction_hour"] = df_preprocessed_2["trans_date_trans_time"].dt.hour
df_preprocessed_2["transaction_minute"] = df_preprocessed_2["trans_date_trans_time"].dt.minute
df_preprocessed_2["transaction_second"] = df_preprocessed_2["trans_date_trans_time"].dt.second

In [20]:
#Lets obtain the relevant information for the date of birth
df_preprocessed_2["birth_year"] = df_preprocessed_2["dob"].dt.year
df_preprocessed_2["birth_month"] = df_preprocessed_2["dob"].dt.month
df_preprocessed_2["birth_day"] = df_preprocessed_2["dob"].dt.day

In [21]:
df_preprocessed_2.drop(["trans_date_trans_time", "dob"], axis=1, inplace = True)

In [22]:
#Select the new created cols
time_cols = ["transaction_year", "transaction_month", "transaction_day", "transaction_hour",\
    "transaction_minute", "transaction_second", "birth_year", "birth_month", "birth_day"]

df_preprocessed_2[time_cols].head(5)

,transaction_year,transaction_month,transaction_day,transaction_hour,transaction_minute,transaction_second,birth_year,birth_month,birth_day
0,2019,1,1,0,0,18,1988,3,9
1,2019,1,1,0,0,44,1978,6,21
2,2019,1,1,0,0,51,1962,1,19
3,2019,1,1,0,1,16,1967,1,12
4,2019,1,1,0,3,6,1986,3,28

### Preprocessing_3: Lets encode the gender and low categorical features:
1. Gender would be binary
2. One-hot-encoding for category and state columns (14 and 51 unique values)

In [23]:
# Lets set our new variables
df_preprocessed_3 = copy.copy(df_preprocessed_2)

#Now, lets do it for gender
df_preprocessed_3["gender"] = df_preprocessed_3["gender"].map({"F": 1, "M": 0})

In [24]:
print(df_preprocessed_3["gender"].head(5))

0    1
1    1
2    0
3    0
4    0
Name: gender, dtype: int64

In [25]:
#Lets now use pd.get_dummies for the other ones with low values
df_preprocessed_3 = pd.get_dummies(df_preprocessed_3, columns=['category', 'state'], drop_first=True, dtype=int)

In [26]:
print([x for x in df_preprocessed_3.columns])
print(df_preprocessed_3.columns.shape)

['cc_num', 'merchant', 'amt', 'first', 'last', 'gender', 'street', 'city', 'zip', 'lat', 'long', 'city_pop', 'job', 'unix_time', 'merch_lat', 'merch_long', 'is_fraud', 'merch_zipcode', 'transaction_year', 'transaction_month', 'transaction_day', 'transaction_hour', 'transaction_minute', 'transaction_second', 'birth_year', 'birth_month', 'birth_day', 'category_food_dining', 'category_gas_transport', 'category_grocery_net', 'category_grocery_pos', 'category_health_fitness', 'category_home', 'category_kids_pets', 'category_misc_net', 'category_misc_pos', 'category_personal_care', 'category_shopping_net', 'category_shopping_pos', 'category_travel', 'state_AL', 'state_AR', 'state_AZ', 'state_CA', 'state_CO', 'state_CT', 'state_DC', 'state_DE', 'state_FL', 'state_GA', 'state_HI', 'state_IA', 'state_ID', 'state_IL', 'state_IN', 'state_KS', 'state_KY', 'state_LA', 'state_MA', 'state_MD', 'state_ME', 'state_MI', 'state_MN', 'state_MO', 'state_MS', 'state_MT', 'state_NC', 'state_ND', 'state_NE', 'state_NH', 'state_NJ', 'state_NM', 'state_NV', 'state_NY', 'state_OH', 'state_OK', 'state_OR', 'state_PA', 'state_RI', 'state_SC', 'state_SD', 'state_TN', 'state_TX', 'state_UT', 'state_VA', 'state_VT', 'state_WA', 'state_WI', 'state_WV', 'state_WY']
(90,)

### Lets take a look into the values
We are almost there; and in order to get a sense of the data. lets print some preprocessed values to see what kind of variables we have

In [27]:
#For loop for the pre-processed columns
for c in df_preprocessed_3.columns:
    print(df_preprocessed_3[c].head(3))
    print("\n")

0    2703186189652095
1        630423337322
2      38859492057661
Name: cc_num, dtype: int64


0         fraud_Rippin, Kub and Mann
1    fraud_Heller, Gutmann and Zieme
2               fraud_Lind-Buckridge
Name: merchant, dtype: object


0      4.97
1    107.23
2    220.11
Name: amt, dtype: float64


0     Jennifer
1    Stephanie
2       Edward
Name: first, dtype: object


0      Banks
1       Gill
2    Sanchez
Name: last, dtype: object


0    1
1    1
2    0
Name: gender, dtype: int64


0                  561 Perry Cove
1    43039 Riley Greens Suite 393
2        594 White Dale Suite 530
Name: street, dtype: object


0    Moravian Falls
1            Orient
2        Malad City
Name: city, dtype: object


0    28654
1    99160
2    83252
Name: zip, dtype: int64


0    36.0788
1    48.8878
2    42.1808
Name: lat, dtype: float64


0    -81.1781
1   -118.2105
2   -112.2620
Name: long, dtype: float64


0    3495
1     149
2    4154
Name: city_pop, dtype: int64


0            Psychologist, counselling
1    Special educational needs teacher
2          Nature conservation officer
Name: job, dtype: object


0    1325376018
1    1325376044
2    1325376051
Name: unix_time, dtype: int64


0    36.011293
1    49.159047
2    43.150704
Name: merch_lat, dtype: float64


0    -82.048315
1   -118.186462
2   -112.154481
Name: merch_long, dtype: float64


0    0
1    0
2    0
Name: is_fraud, dtype: int64


0    28705.0
1    45860.0
2    83236.0
Name: merch_zipcode, dtype: float64


0    2019
1    2019
2    2019
Name: transaction_year, dtype: int32


0    1
1    1
2    1
Name: transaction_month, dtype: int32


0    1
1    1
2    1
Name: transaction_day, dtype: int32


0    0
1    0
2    0
Name: transaction_hour, dtype: int32


0    0
1    0
2    0
Name: transaction_minute, dtype: int32


0    18
1    44
2    51
Name: transaction_second, dtype: int32


0    1988
1    1978
2    1962
Name: birth_year, dtype: int32


0    3
1    6
2    1
Name: birth_month, dtype: int32


0     9
1    21
2    19
Name: birth_day, dtype: int32


0    0
1    0
2    0
Name: category_food_dining, dtype: int32


0    0
1    0
2    0
Name: category_gas_transport, dtype: int32


0    0
1    0
2    0
Name: category_grocery_net, dtype: int32


0    0
1    1
2    0
Name: category_grocery_pos, dtype: int32


0    0
1    0
2    0
Name: category_health_fitness, dtype: int32


0    0
1    0
2    0
Name: category_home, dtype: int32


0    0
1    0
2    0
Name: category_kids_pets, dtype: int32


0    1
1    0
2    0
Name: category_misc_net, dtype: int32


0    0
1    0
2    0
Name: category_misc_pos, dtype: int32


0    0
1    0
2    0
Name: category_personal_care, dtype: int32


0    0
1    0
2    0
Name: category_shopping_net, dtype: int32


0    0
1    0
2    0
Name: category_shopping_pos, dtype: int32


0    0
1    0
2    0
Name: category_travel, dtype: int32


0    0
1    0
2    0
Name: state_AL, dtype: int32


0    0
1    0
2    0
Name: state_AR, dtype: int32


0    0
1    0
2    0
Name: state_AZ, dtype: int32


0    0
1    0
2    0
Name: state_CA, dtype: int32


0    0
1    0
2    0
Name: state_CO, dtype: int32


0    0
1    0
2    0
Name: state_CT, dtype: int32


0    0
1    0
2    0
Name: state_DC, dtype: int32


0    0
1    0
2    0
Name: state_DE, dtype: int32


0    0
1    0
2    0
Name: state_FL, dtype: int32


0    0
1    0
2    0
Name: state_GA, dtype: int32


0    0
1    0
2    0
Name: state_HI, dtype: int32


0    0
1    0
2    0
Name: state_IA, dtype: int32


0    0
1    0
2    1
Name: state_ID, dtype: int32


0    0
1    0
2    0
Name: state_IL, dtype: int32


0    0
1    0
2    0
Name: state_IN, dtype: int32


0    0
1    0
2    0
Name: state_KS, dtype: int32


0    0
1    0
2    0
Name: state_KY, dtype: int32


0    0
1    0
2    0
Name: state_LA, dtype: int32


0    0
1    0
2    0
Name: state_MA, dtype: int32


0    0
1    0
2    0
Name: state_MD, dtype: int32


0    0
1    0
2    0
Name: state_ME, dtype: int32


0    0
1    0
2    0
Name: state_MI, dtype: int32


0    0
1    0
2    0
Name: state_MN, dtype: int32


0    0
1    0
2    0
Name: state_MO, dtype: int32


0    0
1    0
2    0
Name: state_MS, dtype: int32


0    0
1    0
2    0
Name: state_MT, dtype: int32


0    1
1    0
2    0
Name: state_NC, dtype: int32


0    0
1    0
2    0
Name: state_ND, dtype: int32


0    0
1    0
2    0
Name: state_NE, dtype: int32


0    0
1    0
2    0
Name: state_NH, dtype: int32


0    0
1    0
2    0
Name: state_NJ, dtype: int32


0    0
1    0
2    0
Name: state_NM, dtype: int32


0    0
1    0
2    0
Name: state_NV, dtype: int32


0    0
1    0
2    0
Name: state_NY, dtype: int32


0    0
1    0
2    0
Name: state_OH, dtype: int32


0    0
1    0
2    0
Name: state_OK, dtype: int32


0    0
1    0
2    0
Name: state_OR, dtype: int32


0    0
1    0
2    0
Name: state_PA, dtype: int32


0    0
1    0
2    0
Name: state_RI, dtype: int32


0    0
1    0
2    0
Name: state_SC, dtype: int32


0    0
1    0
2    0
Name: state_SD, dtype: int32


0    0
1    0
2    0
Name: state_TN, dtype: int32


0    0
1    0
2    0
Name: state_TX, dtype: int32


0    0
1    0
2    0
Name: state_UT, dtype: int32


0    0
1    0
2    0
Name: state_VA, dtype: int32


0    0
1    0
2    0
Name: state_VT, dtype: int32


0    0
1    1
2    0
Name: state_WA, dtype: int32


0    0
1    0
2    0
Name: state_WI, dtype: int32


0    0
1    0
2    0
Name: state_WV, dtype: int32


0    0
1    0
2    0
Name: state_WY, dtype: int32

### Preprocessing_4: Frequency encoding and Target encoding for the rest categorical features
1. Determine the frequency for columns: merchant, first, last, Street, City, job
2. Use that to map for the rest of them
3. Using a TargetEncoder() instance, encode the merchant with target variable
4. Drop all original columns

In [28]:
#Lets see the columns for the names
col_names = ["merchant", "first", "last", "street", "city", "job"]

#Lets set the df_preprocessed_4
df_preprocessed_4 = copy.copy(df_preprocessed_3)

In [29]:
from category_encoders import TargetEncoder

encoder = TargetEncoder()

for c in col_names:
    #Create a name with _encoded and _freq
    col_enc_name = c +"_encoded"
    col_freq_name = c+ "_freq"

    #Use the target encoder to create the new column
    df_preprocessed_4[col_enc_name] = encoder.fit_transform(df_preprocessed_4[c], df_preprocessed_4["is_fraud"])

    #Obtain the frequency of the unique names for each
    freq = df_preprocessed_4[c].value_counts()
    df_preprocessed_4[col_freq_name] = df_preprocessed_4[c].map(freq)

    # Drop the original passed column
    df_preprocessed_4.drop(c, axis=1, inplace=True)

In [29]:
print(df_preprocessed_4.columns)

Index(['cc_num', 'amt', 'gender', 'zip', 'lat', 'long', 'city_pop',
       'unix_time', 'merch_lat', 'merch_long', 'is_fraud', 'merch_zipcode',
       'transaction_year', 'transaction_month', 'transaction_day',
       'transaction_hour', 'transaction_minute', 'transaction_second',
       'birth_year', 'birth_month', 'birth_day', 'category_food_dining',
       'category_gas_transport', 'category_grocery_net',
       'category_grocery_pos', 'category_health_fitness', 'category_home',
       'category_kids_pets', 'category_misc_net', 'category_misc_pos',
       'category_personal_care', 'category_shopping_net',
       'category_shopping_pos', 'category_travel', 'state_AL', 'state_AR',
       'state_AZ', 'state_CA', 'state_CO', 'state_CT', 'state_DC', 'state_DE',
       'state_FL', 'state_GA', 'state_HI', 'state_IA', 'state_ID', 'state_IL',
       'state_IN', 'state_KS', 'state_KY', 'state_LA', 'state_MA', 'state_MD',
       'state_ME', 'state_MI', 'state_MN', 'state_MO', 'state_MS', 'state_MT',
       'state_NC', 'state_ND', 'state_NE', 'state_NH', 'state_NJ', 'state_NM',
       'state_NV', 'state_NY', 'state_OH', 'state_OK', 'state_OR', 'state_PA',
       'state_RI', 'state_SC', 'state_SD', 'state_TN', 'state_TX', 'state_UT',
       'state_VA', 'state_VT', 'state_WA', 'state_WI', 'state_WV', 'state_WY',
       'merchant_encoded', 'merchant_freq', 'first_encoded', 'first_freq',
       'last_encoded', 'last_freq', 'street_encoded', 'street_freq',
       'city_encoded', 'city_freq', 'job_encoded', 'job_freq'],
      dtype='object')

In [30]:
print(df_preprocessed_4.shape)

(1296675, 96)

In [31]:
print(df_preprocessed_4.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 96 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   cc_num                   1296675 non-null  int64
 1   amt                      1296675 non-null  float64
 2   gender                   1296675 non-null  int64
 3   zip                      1296675 non-null  int64
 4   lat                      1296675 non-null  float64
 5   long                     1296675 non-null  float64
 6   city_pop                 1296675 non-null  int64
 7   unix_time                1296675 non-null  int64
 8   merch_lat                1296675 non-null  float64
 9   merch_long               1296675 non-null  float64
 10  is_fraud                 1296675 non-null  int64
 11  merch_zipcode            1296675 non-null  float64
 12  transaction_year         1296675 non-null  int32
 13  transaction_month        1296675 non-null  int32
 14  transaction_day          1296675 non-null  int32
 15  transaction_hour         1296675 non-null  int32
 16  transaction_minute       1296675 non-null  int32
 17  transaction_second       1296675 non-null  int32
 18  birth_year               1296675 non-null  int32
 19  birth_month              1296675 non-null  int32
 20  birth_day                1296675 non-null  int32
 21  category_food_dining     1296675 non-null  int32
 22  category_gas_transport   1296675 non-null  int32
 23  category_grocery_net     1296675 non-null  int32
 24  category_grocery_pos     1296675 non-null  int32
 25  category_health_fitness  1296675 non-null  int32
 26  category_home            1296675 non-null  int32
 27  category_kids_pets       1296675 non-null  int32
 28  category_misc_net        1296675 non-null  int32
 29  category_misc_pos        1296675 non-null  int32
 30  category_personal_care   1296675 non-null  int32
 31  category_shopping_net    1296675 non-null  int32
 32  category_shopping_pos    1296675 non-null  int32
 33  category_travel          1296675 non-null  int32
 34  state_AL                 1296675 non-null  int32
 35  state_AR                 1296675 non-null  int32
 36  state_AZ                 1296675 non-null  int32
 37  state_CA                 1296675 non-null  int32
 38  state_CO                 1296675 non-null  int32
 39  state_CT                 1296675 non-null  int32
 40  state_DC                 1296675 non-null  int32
 41  state_DE                 1296675 non-null  int32
 42  state_FL                 1296675 non-null  int32
 43  state_GA                 1296675 non-null  int32
 44  state_HI                 1296675 non-null  int32
 45  state_IA                 1296675 non-null  int32
 46  state_ID                 1296675 non-null  int32
 47  state_IL                 1296675 non-null  int32
 48  state_IN                 1296675 non-null  int32
 49  state_KS                 1296675 non-null  int32
 50  state_KY                 1296675 non-null  int32
 51  state_LA                 1296675 non-null  int32
 52  state_MA                 1296675 non-null  int32
 53  state_MD                 1296675 non-null  int32
 54  state_ME                 1296675 non-null  int32
 55  state_MI                 1296675 non-null  int32
 56  state_MN                 1296675 non-null  int32
 57  state_MO                 1296675 non-null  int32
 58  state_MS                 1296675 non-null  int32
 59  state_MT                 1296675 non-null  int32
 60  state_NC                 1296675 non-null  int32
 61  state_ND                 1296675 non-null  int32
 62  state_NE                 1296675 non-null  int32
 63  state_NH                 1296675 non-null  int32
 64  state_NJ                 1296675 non-null  int32
 65  state_NM                 1296675 non-null  int32
 66  state_NV                 1296675 non-null  int32
 67  state_NY                 1296675 non-null  int32
 68  state_OH                 1296675 non-null  int32
 69  state_OK                 1296675 non-null  int32
 70  state_OR                 1296675 non-null  int32
 71  state_PA                 1296675 non-null  int32
 72  state_RI                 1296675 non-null  int32
 73  state_SC                 1296675 non-null  int32
 74  state_SD                 1296675 non-null  int32
 75  state_TN                 1296675 non-null  int32
 76  state_TX                 1296675 non-null  int32
 77  state_UT                 1296675 non-null  int32
 78  state_VA                 1296675 non-null  int32
 79  state_VT                 1296675 non-null  int32
 80  state_WA                 1296675 non-null  int32
 81  state_WI                 1296675 non-null  int32
 82  state_WV                 1296675 non-null  int32
 83  state_WY                 1296675 non-null  int32
 84  merchant_encoded         1296675 non-null  float64
 85  merchant_freq            1296675 non-null  int64
 86  first_encoded            1296675 non-null  float64
 87  first_freq               1296675 non-null  int64
 88  last_encoded             1296675 non-null  float64
 89  last_freq                1296675 non-null  int64
 90  street_encoded           1296675 non-null  float64
 91  street_freq              1296675 non-null  int64
 92  city_encoded             1296675 non-null  float64
 93  city_freq                1296675 non-null  int64
 94  job_encoded              1296675 non-null  float64
 95  job_freq                 1296675 non-null  int64
dtypes: float64(12), int32(72), int64(12)
memory usage: 593.6 MB
None

In [32]:
print(df_preprocessed_4.describe())

             cc_num           amt        gender           zip           lat  \
count  1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06
mean   4.171920e+17  7.035104e+01  5.474487e-01  4.880067e+04  3.853762e+01
std    1.308806e+18  1.603160e+02  4.977437e-01  2.689322e+04  5.075808e+00
min    6.041621e+10  1.000000e+00  0.000000e+00  1.257000e+03  2.002710e+01
25%    1.800429e+14  9.650000e+00  0.000000e+00  2.623700e+04  3.462050e+01
50%    3.521417e+15  4.752000e+01  1.000000e+00  4.817400e+04  3.935430e+01
75%    4.642255e+15  8.314000e+01  1.000000e+00  7.204200e+04  4.194040e+01
max    4.992346e+18  2.894890e+04  1.000000e+00  9.978300e+04  6.669330e+01

               long      city_pop     unix_time     merch_lat    merch_long  \
count  1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06
mean  -9.022634e+01  8.882444e+04  1.349244e+09  3.853734e+01 -9.022646e+01
std    1.375908e+01  3.019564e+05  1.284128e+07  5.109788e+00  1.377109e+01
min   -1.656723e+02  2.300000e+01  1.325376e+09  1.902779e+01 -1.666712e+02
25%   -9.679800e+01  7.430000e+02  1.338751e+09  3.473357e+01 -9.689728e+01
50%   -8.747690e+01  2.456000e+03  1.349250e+09  3.936568e+01 -8.743839e+01
75%   -8.015800e+01  2.032800e+04  1.359385e+09  4.195716e+01 -8.023680e+01
max   -6.795030e+01  2.906700e+06  1.371817e+09  6.751027e+01 -6.695090e+01

       ...  first_encoded    first_freq  last_encoded     last_freq  \
count  ...   1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06
mean   ...   5.705010e-03  8.144699e+03  5.696501e-03  6.197166e+03
std    ...   4.816886e-03  6.281706e+03  5.449062e-03  6.176051e+03
min    ...   0.000000e+00  7.000000e+00  0.000000e+00  7.000000e+00
25%    ...   3.823280e-03  3.081000e+03  3.424239e-03  2.069000e+03
50%    ...   5.377147e-03  6.159000e+03  4.891171e-03  3.641000e+03
75%    ...   7.012271e-03  1.181500e+04  7.163324e-03  8.177000e+03
max    ...   4.780597e-01  2.666900e+04  4.780597e-01  2.879400e+04

       street_encoded   street_freq  city_encoded     city_freq   job_encoded  \
count    1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06
mean     5.378756e-03  1.818725e+03  5.470713e-03  2.063746e+03  5.679638e-03
std      8.477189e-03  7.425057e+02  7.844809e-03  1.002234e+03  5.698251e-03
min      0.000000e+00  7.000000e+00  0.000000e+00  7.000000e+00  0.000000e+00
25%      6.615944e-04  1.466000e+03  1.928640e-03  1.514000e+03  3.003003e-03
50%      4.575163e-03  2.000000e+03  4.623514e-03  2.034000e+03  5.133219e-03
75%      7.189542e-03  2.524000e+03  7.228916e-03  2.577000e+03  7.416962e-03
max      4.780597e-01  3.123000e+03  4.780597e-01  5.617000e+03  4.780597e-01

           job_freq
count  1.296675e+06
mean   3.938490e+03
std    2.019214e+03
min    7.000000e+00
25%    2.528000e+03
50%    3.602000e+03
75%    5.460000e+03
max    9.779000e+03

[8 rows x 96 columns]