# Data Preprocessing

The following jupyter notebook contains all of the steps done in data preprocessing research. The key difference is that we are using a class created in the utils folder to retrieve the preprocessed dataframe that would be used to perform EDA and classification problems using different ML algorithms. The steps taken are:
1. Drop Unique Identifiers from credit card history `Unnamed:0`, `trans_num`.
2. Fill Nan values in `merch_zipcode` with the median value.
3. Obtain the datetime features from transaction and date of birth datetimes: `trans_date_trans_time`, `dob`
4. Obtain low categorical features, binary and small unique identifiers: `gender`, `category`, `state`
5. Obtain high categorical features, using frequency and target encoding: `merchant`, `first`, `last`, `street`, `city`, `job`

In [13]:
import sys
import os

# Get the root project path
root_project_path = os.path.abspath(os.path.join(os.getcwd(), os.pardir))

#Append it to sys
sys.path.append(root_project_path)

#Import the necessary modules
from utils import DataLoader, CreditCardPreprocesser

### Load the data

In [10]:
#Set the folder name and data folder
folder_name = "data"
data_holder_path = os.path.join(os.getcwd(), os.pardir)

#Set the folder name
data_loader = DataLoader(data_folder_name=folder_name,\
    data_folder_path=data_holder_path)

#Get the data
df_data = data_loader.get_dataset()

In [11]:
df_data.head(5)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,28705.0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,NaN
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,83236.0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,NaN
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,22844.0

### Get the preprocessed dataframe

In [14]:
#Create an instance of the Credit card processer
credit_card_processer = CreditCardPreprocesser(df_data=df_data)

#Obtain the df_preprocessed
df_preprocessed = credit_card_processer.fetch_preprocessed_dataframe()

In [15]:
df_preprocessed.shape

(1296675, 96)

In [16]:
df_preprocessed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 96 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   cc_num                   1296675 non-null  int64
 1   amt                      1296675 non-null  float64
 2   gender                   1296675 non-null  int64
 3   zip                      1296675 non-null  int64
 4   lat                      1296675 non-null  float64
 5   long                     1296675 non-null  float64
 6   city_pop                 1296675 non-null  int64
 7   unix_time                1296675 non-null  int64
 8   merch_lat                1296675 non-null  float64
 9   merch_long               1296675 non-null  float64
 10  is_fraud                 1296675 non-null  int64
 11  merch_zipcode            1296675 non-null  float64
 12  transaction_year         1296675 non-null  int32
 13  transaction_month        1296675 non-null  int32
 14  transaction_day          1296675 non-null  int32
 15  transaction_hour         1296675 non-null  int32
 16  transaction_minute       1296675 non-null  int32
 17  transaction_second       1296675 non-null  int32
 18  birth_year               1296675 non-null  int32
 19  birth_month              1296675 non-null  int32
 20  birth_day                1296675 non-null  int32
 21  category_food_dining     1296675 non-null  int32
 22  category_gas_transport   1296675 non-null  int32
 23  category_grocery_net     1296675 non-null  int32
 24  category_grocery_pos     1296675 non-null  int32
 25  category_health_fitness  1296675 non-null  int32
 26  category_home            1296675 non-null  int32
 27  category_kids_pets       1296675 non-null  int32
 28  category_misc_net        1296675 non-null  int32
 29  category_misc_pos        1296675 non-null  int32
 30  category_personal_care   1296675 non-null  int32
 31  category_shopping_net    1296675 non-null  int32
 32  category_shopping_pos    1296675 non-null  int32
 33  category_travel          1296675 non-null  int32
 34  state_AL                 1296675 non-null  int32
 35  state_AR                 1296675 non-null  int32
 36  state_AZ                 1296675 non-null  int32
 37  state_CA                 1296675 non-null  int32
 38  state_CO                 1296675 non-null  int32
 39  state_CT                 1296675 non-null  int32
 40  state_DC                 1296675 non-null  int32
 41  state_DE                 1296675 non-null  int32
 42  state_FL                 1296675 non-null  int32
 43  state_GA                 1296675 non-null  int32
 44  state_HI                 1296675 non-null  int32
 45  state_IA                 1296675 non-null  int32
 46  state_ID                 1296675 non-null  int32
 47  state_IL                 1296675 non-null  int32
 48  state_IN                 1296675 non-null  int32
 49  state_KS                 1296675 non-null  int32
 50  state_KY                 1296675 non-null  int32
 51  state_LA                 1296675 non-null  int32
 52  state_MA                 1296675 non-null  int32
 53  state_MD                 1296675 non-null  int32
 54  state_ME                 1296675 non-null  int32
 55  state_MI                 1296675 non-null  int32
 56  state_MN                 1296675 non-null  int32
 57  state_MO                 1296675 non-null  int32
 58  state_MS                 1296675 non-null  int32
 59  state_MT                 1296675 non-null  int32
 60  state_NC                 1296675 non-null  int32
 61  state_ND                 1296675 non-null  int32
 62  state_NE                 1296675 non-null  int32
 63  state_NH                 1296675 non-null  int32
 64  state_NJ                 1296675 non-null  int32
 65  state_NM                 1296675 non-null  int32
 66  state_NV                 1296675 non-null  int32
 67  state_NY                 1296675 non-null  int32
 68  state_OH                 1296675 non-null  int32
 69  state_OK                 1296675 non-null  int32
 70  state_OR                 1296675 non-null  int32
 71  state_PA                 1296675 non-null  int32
 72  state_RI                 1296675 non-null  int32
 73  state_SC                 1296675 non-null  int32
 74  state_SD                 1296675 non-null  int32
 75  state_TN                 1296675 non-null  int32
 76  state_TX                 1296675 non-null  int32
 77  state_UT                 1296675 non-null  int32
 78  state_VA                 1296675 non-null  int32
 79  state_VT                 1296675 non-null  int32
 80  state_WA                 1296675 non-null  int32
 81  state_WI                 1296675 non-null  int32
 82  state_WV                 1296675 non-null  int32
 83  state_WY                 1296675 non-null  int32
 84  merchant_encoded         1296675 non-null  float64
 85  merchant_freq            1296675 non-null  int64
 86  first_encoded            1296675 non-null  float64
 87  first_freq               1296675 non-null  int64
 88  last_encoded             1296675 non-null  float64
 89  last_freq                1296675 non-null  int64
 90  street_encoded           1296675 non-null  float64
 91  street_freq              1296675 non-null  int64
 92  city_encoded             1296675 non-null  float64
 93  city_freq                1296675 non-null  int64
 94  job_encoded              1296675 non-null  float64
 95  job_freq                 1296675 non-null  int64
dtypes: float64(12), int32(72), int64(12)
memory usage: 593.6 MB

In [17]:
print(df_preprocessed.describe())

             cc_num           amt        gender           zip           lat  \
count  1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06
mean   4.171920e+17  7.035104e+01  5.474487e-01  4.880067e+04  3.853762e+01
std    1.308806e+18  1.603160e+02  4.977437e-01  2.689322e+04  5.075808e+00
min    6.041621e+10  1.000000e+00  0.000000e+00  1.257000e+03  2.002710e+01
25%    1.800429e+14  9.650000e+00  0.000000e+00  2.623700e+04  3.462050e+01
50%    3.521417e+15  4.752000e+01  1.000000e+00  4.817400e+04  3.935430e+01
75%    4.642255e+15  8.314000e+01  1.000000e+00  7.204200e+04  4.194040e+01
max    4.992346e+18  2.894890e+04  1.000000e+00  9.978300e+04  6.669330e+01

               long      city_pop     unix_time     merch_lat    merch_long  \
count  1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06
mean  -9.022634e+01  8.882444e+04  1.349244e+09  3.853734e+01 -9.022646e+01
std    1.375908e+01  3.019564e+05  1.284128e+07  5.109788e+00  1.377109e+01
min   -1.656723e+02  2.300000e+01  1.325376e+09  1.902779e+01 -1.666712e+02
25%   -9.679800e+01  7.430000e+02  1.338751e+09  3.473357e+01 -9.689728e+01
50%   -8.747690e+01  2.456000e+03  1.349250e+09  3.936568e+01 -8.743839e+01
75%   -8.015800e+01  2.032800e+04  1.359385e+09  4.195716e+01 -8.023680e+01
max   -6.795030e+01  2.906700e+06  1.371817e+09  6.751027e+01 -6.695090e+01

       ...  first_encoded    first_freq  last_encoded     last_freq  \
count  ...   1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06
mean   ...   5.705010e-03  8.144699e+03  5.696501e-03  6.197166e+03
std    ...   4.816886e-03  6.281706e+03  5.449062e-03  6.176051e+03
min    ...   0.000000e+00  7.000000e+00  0.000000e+00  7.000000e+00
25%    ...   3.823280e-03  3.081000e+03  3.424239e-03  2.069000e+03
50%    ...   5.377147e-03  6.159000e+03  4.891171e-03  3.641000e+03
75%    ...   7.012271e-03  1.181500e+04  7.163324e-03  8.177000e+03
max    ...   4.780597e-01  2.666900e+04  4.780597e-01  2.879400e+04

       street_encoded   street_freq  city_encoded     city_freq   job_encoded  \
count    1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06
mean     5.378756e-03  1.818725e+03  5.470713e-03  2.063746e+03  5.679638e-03
std      8.477189e-03  7.425057e+02  7.844809e-03  1.002234e+03  5.698251e-03
min      0.000000e+00  7.000000e+00  0.000000e+00  7.000000e+00  0.000000e+00
25%      6.615944e-04  1.466000e+03  1.928640e-03  1.514000e+03  3.003003e-03
50%      4.575163e-03  2.000000e+03  4.623514e-03  2.034000e+03  5.133219e-03
75%      7.189542e-03  2.524000e+03  7.228916e-03  2.577000e+03  7.416962e-03
max      4.780597e-01  3.123000e+03  4.780597e-01  5.617000e+03  4.780597e-01

           job_freq
count  1.296675e+06
mean   3.938490e+03
std    2.019214e+03
min    7.000000e+00
25%    2.528000e+03
50%    3.602000e+03
75%    5.460000e+03
max    9.779000e+03

[8 rows x 96 columns]